[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
Pillow = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
djongo = "*"
pymongo = "*"
dnspython = "*"
pytz = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"