[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
django-ckeditor = "*"
pillow = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
PyMySQL = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
