{% extends 'registration/login.html' %}
{% block authentication %}
<div class="card-body p-md-5 mx-md-4">
    <div class="text-center">
        <img src="https://alertmfb.com.ng/images/logo-dark.png" style="width: 185px;" alt="logo">
        <h4 class="mt-3 mb-3 pb-1">Change Password</h4>
    </div>
    <hr>

    {% if validlink %}
    {{ form.errors }}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-outline mb-3">
            <label class="form-label" for="password1">New Password</label>
            <input type="password" id="password1" name="new_password1" class="form-control" required/>
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="password2">Confirm Password</label>
            <input type="password" id="password2" name="new_password2" class="form-control" required/>
        </div>

        <div class="text-center pt-1 mb-2 pb-1">
            <input class="btn btn-info btn-block fa-lg" type="submit" value="Change password" />
        </div>
    </form>
    {% else %}
    <p class="text-danger">
        The password reset link was invalid, possibly because it has expired 
        or already been used. Please request a new password reset.
    </p>
    {% endif %}
</div>
{% endblock %}
