{% extends 'home.html' %}
{% block article %}
<!-- start of user creation form -->
<section>
    {% if user.role == 'IT' %}
    <h2>Create User</h2>
    <form action="{% url 'createUser' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="row">
            {% for form in formset %}
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form.label_tag }} {{ form }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-success mt-2">Add User</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <div class="fluid-container row align-items-center" style="height: 50vh;">
        <h2 class="text-center">You are not authorized to access this page!</h2>
    </div>
    {% endif %}
</section>
<!-- end of user creation form -->
{% endblock %}
