{% extends 'home.html' %}
{% block article %}
<!-- start of users list view -->
<section class="listUsers">
    <h2>Users List</h2>
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staffs %}
                {% if staff.id == user.id %}
                <tr>
                </tr>
                {% else %}
                <tr>
                    <td>{{ staff.first_name }} {{ staff.last_name }}</td>
                    <td>{{ staff.role }}</td>
                    <td>{{ staff.branch }}</td>
                    <td>
                        <a class="nav-link material-symbols-outlined text-info" href="{% url 'userDetails' staff.pk %}">visibility</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
<!-- end of users list view -->
{% endblock %}