{% extends 'index.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center bg-secondary mt-3" style="min-height: 50vh;">
    <h1 class="text-white">
        &#128123 Ohps! Sorry, about section loading or you can just ask me what the project entails
        when you see me. Just let me motivate you before you go - "once you carry your own water,
        you will learn the value of every drop."
    </h1>
</div>
{% endblock %}