{% extends 'index.html' %}
{% block title %}Authentication Page{% endblock %}

{% block content %}

    {% if page == 'login' %}
    <!-- Login Form -->
    <div class="card form-group mt-3 mb-3" style="width: 100%;">
        <legend class="card-header text-bg-primary">Login</legend>
        <form class="px-2" action="" method="post">
            {% csrf_token %}
            <label for="exampleInputUsername" class="form-label mt-2">Username</label>
            <input class="form-control" id="exampleInputUsername" type="text" name="username"placeholder="Enter username" required>
            <label for="exampleInputPassword1" class="form-label mt-2">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="Password" required>
            <input class="form-control btn btn-primary mt-3 mb-4" type="submit" value="Log In">
            <p class="text-center">Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
        </form>
    </div>

    {% else %}

    <!-- Signup Form -->
    <div class="card form-group mt-3 mb-3" style="width: 100%;">
        <legend class="card-header text-bg-success">Sign Up</legend>
        <form class="px-2" action="" method="post">
            {% csrf_token %}
            <label for="exampleInputEmail" class="form-label mt-2">Email</label>
            <input class="form-control" id="exampleInputEmail" type="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
            <label for="exampleInputFirstname" class="form-label mt-2">Firstname</label>
            <input class="form-control" id="exampleInputFirstname" type="text" name="firstname" placeholder="Enter Firstname" required>
            <label for="exampleInputLastname" class="form-label mt-2">Lastname</label>
            <input class="form-control" id="exampleInputLastname" type="text" name="lastname" placeholder="Enter Lastname" required>
            <label for="exampleInputUsername" class="form-label mt-2">Username</label>
            <input class="form-control" id="exampleInputUsername" type="text" name="username" placeholder="Enter Username" required>
            <label for="exampleInputPassword1" class="form-label mt-2">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" name="password" min="6" placeholder="password" required>
            <small>Strong password recommended:</small>
            <li>minimum of 6 character</li>
            <li>must contain numbers and special character</li>
            <button type="submit" class="form-control btn btn-success mt-3 mb-4">Sign Up</button>
            <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
    {% endif %}

{% endblock %}